<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
	<listeners>
		<listener class-name="com.tekarch.firebase.utilities.FirebaseListenerutilityt" />
	</listeners>
  <test  name="RegressionTest">
	  <parameter name="browserName" value="chrome"></parameter>
	  <parameter name="countryName" value="india"></parameter>
    <classes>
      <class name="com.tekarch.firebase.automationtests.AutomationScripts"/>
    </classes>
  </test> <!-- RegressionTest -->
  
 
</suite> <!-- RegressionSuite -->